@media screen and (max-width: 1300px){
  .login_signup{
    margin-bottom: 56px;
  }
  .adaptive_pad_suggestion{
    display:block !important;
  }
  .login_page_left_content{
    h1{
      font-size:97px !important;
    }
    h2{
      font-size:40px !important;
    }
  }

  .login_page_main{
    height:100vh;
    overflow: auto;
  }
  .login_page_inner{
    height:auto !important;
  }
  .home_main_inner{
    height:85vh !important;
  }
 .nav_search_absolute{
   width: 91%  !important;
 }
  .not_adaptive_pad{
    display: none !important;
  }
  .subscribers {
    padding-top: 32px;
}
  .newPost_rowBtns {
    padding: 32px 38px;
    display: flex;
    justify-content: flex-end;
}
  .other_profiles_header_title{
    padding: 32px 26px 18px 30px !important;
  }
  .main_item_video{
    img{
      border-radius: 4px;
    }
  }
 .left{
   border-left: 1px solid #efeff4;
 }
 .blur{
  border-radius: 4px;

 }
  .newPost_btns{
    padding: 24px 30px;
  }
  .newPost_btns_items{
    margin-right: 10px;
    svg{
      margin-bottom: 5px;
    }
    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  
  }
  .newPost_btns{
    justify-content: center;
  }
  .newPost_btns_items_active{
    a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    svg{
      margin-bottom: 5px;
    }
  }
  .modal  {
    .modal_close{
      right: 100px !important;
      top: 0px ;
    }
  
    
}

  .not_adaptivetab{
    display: none !important;
  }
  .other_profiles_username_avatar_text{
    span{
      white-space: nowrap;
    }
  }
  .other_profiles_community_item {
    p{
      font-size:12px !important;
    }
  }
  
  .nav_inner{
    padding: 27px 30px !important;
  }
  .other_profiles_community_right{
    p{
      display: none;
    }
  }
  .adaptive_pad{
    display: block !important;
  }
  .main_sidebar{
    overflow: auto;
    height:90vh;
  }
  .adaptive_pad_none{
    display: none !important;
  }
  .tabs_media_content{
    column-gap: 20px;
  }
  .media_inner_item {
    a{
      width: 84% !important;
      padding: 10px 28px !important;
      white-space: nowrap;
      font-size: 12px !important;
      justify-content:center;
    }
  }
  .login_page_right_title {
    margin-top: 40px;
  }
  .login_page_left{
    height:30vh;
    background-size: cover;
  }
  .login_page_left_content{
    padding: 31px 66px;
  }
  .login_page_inner{
    flex-direction: column;
  }
  .login_page_left, .login_page_right{
    width: 100%;
  }
  .login_footer_inner{
    width: 100%;
    padding: 30px 100px ;
  }


}

@media screen and (max-width: 480px) {
  .back{
    display: none ;
  }
  .left{
    border-left: none;
  }

  .other_profiles_header{
    .w3-bar{
      margin-top: 40px;
    }
  }

  .other_profiles_header_username{
    margin-top: 110px !important;
  } 
  .notification_main_item {
    padding: 16px 32px 16px 16px  !important;
  }
  .notification_main_item_content {
    max-width: 64px !important;
  }
  #Tabs4{
    .check_tab{
      padding: 0px 16px;
    }
  }
  .login_page_main{
    overflow: auto;
    height:100vh;
  }
  .register{
    height:100vh;
  }
  
  .notification_main_item {
    grid-template-columns: 60% 23% 21% !important;
  }
  .settings_tabs_footer{
    padding-left: 24px !important;
  }
  .setting_content_inner{
    padding: 15px 0px !important;
    overflow: auto;
    height: 100vh;
  }
  #Tabs2{
    form{
      padding-bottom: 0px !important;
    }
    .username_bottom_wrap{
      input{
        margin-bottom: 16px !important;
      }
    }
    .username_btn{
      display: block;
    }
  }
  .username_top{
    margin-right:0px !important;
  }
  .username_card_wrap{
    p{
      margin-top: 8px;
    }
  }
  .setting_content{
    .tabs{
      display: block !important;
    }
    form{
      padding: 0px 16px !important;
      padding-top: 0px !important;
      padding-bottom: 31px !important;
      label{
        font-size: 14px !important;
      }
    }
  }
.username_card_wrap{
  label{
    font-size: 14px !important;
  }
}
  .username_card{
    padding: 0 16px;
    margin: 31px 0px !important;
  }
  .username_btn{
    padding: 0 16px;
  }
  .verification_drop_image{
    background: none !important;
    text-align: start !important;
    padding: 0px 16px !important;
    align-items: start !important;
    svg{
      margin-right: 7px;
    }
  }
  .settings  {
    .check_bottom{
      margin-top: 32px;
      height: 100vh;
      overflow: auto;
    }
}
  #Tabs3{
    .username_btn{
      margin-right: 0px !important;
    }
    .bank_form{
      padding: 0px 16px !important;
    }
    .bank_form_wrap{
      margin-right:0px !important;
    }
    .bank_form_bottom{
     
      .bank_form_wrap{
        margin-right: 20px !important;

      }
    }
    .username_btn{
      display: flex !important;
      justify-content: flex-end !important;
    }
    
  }
  .bank_form_bottom{
    grid-template-columns: 50% 50% !important;
  }
  .username_btn{
    .important{
      .save_btn{
        width: 100%;
        display: block;
        text-align: center;
        padding: 11px !important;
      }
    }
  
  }
  .verification_drop_image_text_inner{
    h3 , p{
      font-weight: 400 !important;
      font-size: 13px !important;
      color: #3F50C0 !important;
    }
  }
  .verification_drop_image_text_adaptive{
    display: flex !important;
    align-items: center;
  }
  .verification_drop_image{
    margin-right: 0px !important;
  }
  .username_card_wrap{
    max-width: 100% !important;
  }
  .username_top{
    margin-bottom: 16px !important;
  }
  .username{
    
    input{
      margin-bottom: 0px !important;
    }
    
  }
  .setting_content {
    #Tabs1{
      height: 100vh;
    }
  }
  .username_bottom{
    p{
      margin-bottom: 16px;
      margin: 8px auto 16px 0px;
    }
  }
  .username_btn .save_btn {
    padding: 11px 70px !important;
  }
  .username_bottom{
    display: flex !important;
    flex-direction: column;
    .username_bottom_wrap{
      margin-right: 0px !important;
    }
  }
  .settings_tabs{
    border: none !important;
  }
  .settings_tabs_item{
    padding: 16px 24px !important; 
    width: 100% !important;
  }
  .w3-red::after{
    bottom: -14px !important;
  }
  .messages_user_item{
    padding: 3px 16px !important;
  }
  .notification_main_item_user {
    img {
      width: 48px !important;
      height: 48px !important;
    }
    h2 {
      font-size: 14px !important;
    }
  }
 
  .chat_nav{
      display: none;
  }
  .messages_page_users_inner {
    padding: 32px 0px !important;
  }
  .chat_adaptive_none {
    display: none !important;
  }
  .notification_main_title{
    padding: 16px 16px 16px 49px !important;
  }
  .notification_main_title{
      a{
          font-size:13px !important;
      }
  }
 
  .notification_main_item_user_name{
    width: 7rem;
    display: block;
  }
 
  .nav_search {
      img{
          top: 17px !important;
          left: 35px !important;
      }
  }
  .notification_main_item_time{
      text-align: end;
  }
  .sub_btn{
      justify-content:center;
  }
  .tabs_media_content{
      column-gap: 20px;
  }
  .media_inner_item {
      a{
        width: 84% !important;
        padding: 10px 15px !important;
        white-space: nowrap;
        font-size: 12px !important;
        justify-content:center;
      }
  }
  .not_adaptive{
      display: none !important;
  }
  .adaptive{
      display: block !important;
  }
  .message_chat_navigation_files_left_item{
      margin-right: 5px !important;
  }
  .message_chat_navigation_files_btn {
    display: none;
  }
  .message_chat_navigation_text {
    display: flex;
    align-items: center;
    margin-left: 13px;
    padding: 0px 14px 0px 0px !important;
    justify-content: space-between !important;
  }
  .other_profiles_community_right{
      p{
        display: none !important; 

      }
  }
  .subscription_btn{
      padding: 8px 16px !important; 
  }
  .subscribers_item_btn {
    span{
        font-size:12px !important;
    }
  }
  .subscribers {
    padding-top: 0px !important;
}
  .subscribers_item{
    padding: 8px 12px 8px 18px !important;
  }

  .other_profiles_header_content{
    padding: 12px 16px !important;
  }
  .other_profiles_username_avatar_text {
      span{
          white-space: nowrap;
      }
  }
  .message_chat_inner_content {
    padding: 0px 14px 0px 7px !important;
    height: 76vh !important;
}
.message_chat_navigation_files_left_item {
    span{
        white-space: nowrap;
        font-size: 12px;
    }
}
.message_chat{
    border-left: none !important;
    border-right:none !important;
}
.message_chat_navigation_files{
    margin-top:14px !important;
}


.message_chat_navigation {
    padding: 6px 0px 0px 3px !important;
}
  .another_message_user_text {
    img {
        width: 66%;
    }
    
}
  .another_user_message_content {
    margin-right: 70px;
}
  .mine_message_user_content{
    margin-left: 70px;
  }
  .message_chat {
    border-top: none !important;
  }
  .My_profile{
      display: none;
  }
 
  
  .sub_btn{
      padding: 10px 21px !important ;
  }
  .other_profiles_header_community{
      margin-bottom: 40px !important;
  }
  .message_chat_inner_nothing {
    display: none !important;
  }
  .chat_search {
    svg{
      display: none !important; 

    }
  }
  .newPost_btns{
    padding: 30px 5px;
  }
  .other_profiles_forms{
    padding: 24px 16px;
  }
  .newPost_rowBtns {
    padding: 32px 10px;
    justify-content: center;

  }
  .messages_page_users_inner{
    width: 100% !important;
  }
  .newPost_btns_items_active{
    a{
      flex-direction: column;
      justify-content: center;
      span{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60px;
      }
    }
  }
  .newPost_compose{
    padding: 16px 55px 16px 16px !important;
  }
  .newPost_btns_items {
    margin-right: 8px !important;
    a{
      flex-direction: column;
      justify-content: center;
      span{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 60px;
      }
    }
  }
 
  .nav_search_absolute {
    width: auto !important;
    right: 70px;
    input {
      display: none;
    }
  }
  .main_item_header_nickname {
    h3 {
      white-space: nowrap;
      font-size: 14px;
    }
  }
 
  .notification_icon::after {
    display: none;
  }
 
  .login_page_inner {
    flex-direction: column;
    height: auto !important;
  }
  .login_page_left {
    width: 100%;
    height: auto !important;
    background-size: cover;
  }
  .login_page_right {
    width: 100%;
  }
  .form_password {
    margin-bottom: 20px;
  }
  .notification {
    width: 89%;
    margin: 0 20px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
  }
  .login_page_left_content {
    padding: 49px 78px;
    h1 {
      font-size: 64px;
    }
    h2 {
      font-size: 26px;
    }
  }
  .login_footer_inner {
    padding: 40px 16px;
    width: 100%;
  }
  .login_footer_inner_item {
    margin-right: 0px;
    p {
      text-align: center;
      white-space: nowrap;
    }
  }
 
  .other_profiles_banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
    max-height: 160px !important;
  }
  .my_profiles_banner{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
    max-height: 160px !important;
  }
}
.adaptive_logo {
  display: none;
}
.main_sidebar_adaptive_content {
  position: relative;
  padding: 20px 0px;
  display: flex;
  position: fixed;
  bottom: -2px;
  visibility: hidden;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
}
.other_profiles_banner_adaptive_inner{
  transform: rotate(180deg);
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 14px;
  width: 100%;
  
  left: 8px;
  .myprofiles_banner_adaptive_left, .myprofiles_banner_adaptive_right{
    display: flex;
    align-items: center;
    .main_sidebar_item{
      margin-right: 0px !important;
    }
  }

  
}  
.myprofiles_banner_adaptive_inner{
  top: 10px;
  position: fixed;
  width: 100%;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  z-index: 11;
  .myprofiles_banner_adaptive_left, .myprofiles_banner_adaptive_right{
    display: flex;
    align-items: center;
    .main_sidebar_item{
      margin-right: 10px !important;
    }
  }

  
}

.other_profiles_banner_adaptive {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    border-radius: 0px;
    max-height: 160px;
    height: 100vh;
    position: absolute;
    background-position: center;
    width: 100%;
    transform: rotate(180deg);
    z-index: 10;
}

.main_item_comment{
  .modal_right {
    width: 100%;
    .separete {
      padding: 0px 70px;
      display: flex;
      align-items: center;
      p {
        color: #ababb8;
        font-weight: 400;
        font-size: 14px;
      }
      svg {
        margin-right: 16px;
      }
    }
    
    .modal_right_inner {
      padding: 24px 0px 0px 0px;
      .model_right_content {
        overflow: auto;
        height: 53vh;
      }
      .model_right_content::-webkit-scrollbar {
        width: 0;
      }
      .model_right_content_item_avatar {
        background-repeat: no-repeat !important;
        width: 48px;
        height: 48px;
        background-size: cover !important;
        margin-right: 16px;
        cursor: pointer;
        img {
          border-radius: 100%;
          width: 48px;
          height: 48px;
        }
      }
     

      .model_right_content_item_flex {
        display: flex;
      }
      .model_right_day {
        span {
          color: #ababb8;
          font-weight: 400;
          font-size: 12px;
          margin-right: 12px;
        }
        a {
          color: #ababb8;
          font-weight: 400;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .model_right_likes {
        cursor: pointer;

        svg {
          margin-right: 12px;
        }
        span {
          color: #ababb8;
          font-weight: 400;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .model_right_content_tree_item_footer {
        padding: 0px 16px 0px 70px;
        margin-top: 16px;
      }
      .model_right_content_tree_item {
        padding: 20px 16px;
      }
      .model_right_content_item_footer {
        display: flex;
        justify-content: space-between;
        padding-left: 65px;
        align-items: center;
        .model_right_likes {
          display: flex;
          align-items: center;
        }
      }
      .model_right_content_item {
        display: flex;
        padding: 20px 56px;
        border-bottom: 1px solid #efeff4;
      }
      .after_item {
        position: relative;
      }
      .after_item::after {
        content: ' ';
        top: 34px;
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        background: #93d674;
        border: 2px solid #ffffff;
        right: 0;
        border-radius: 100%;
      }
      .subscribers_item:hover {
        background: none;
      }
      .subscribers_item {
        padding: 8px 40px 24px 55px !important;

        border-bottom: 1px solid #efeff4;
      }
    }
  }
}

.modal{
  .home_main_item {
    overflow: auto;
    height: 87vh;
    border-top: 1px solid #efeff4;
    margin-bottom: 40px;
    max-width: 390px;
    border-radius: 4px;
    background: #fff;
    margin: 40px auto;
}
}