* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #fff;
	font-family: "Cera Pro", sans-serif;

	height: 100%;
	overflow: hidden;
}
a {
	text-decoration: none;
}
img {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	object-fit: cover;
}
